/*  Document Styles  */
html{
  font-size: 16px;
}

body {
  margin: 0rem 0rem;
  padding: 0rem 0rem;
}

.container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Top Navigation Bar with logo */
.topmenu {
  height: 64px;
  width: 960px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h2{
  font-family: arial;
  letter-spacing: .1rem;
}

.mobile-icons {
  display: none;

}

@media only screen and (max-width:980px) {
  .logo h2 {
    display: none;
  }

  nav {
    display: none;
  }

  .topmenu {
    justify-content: space-around;
    width:480px;
  }

  .mobile-icons{
    display: flex;
  }

} /*End header mobile version change*/


.logo img{
  height: 2rem;
  width: auto;
  margin-left: 1.5rem;
}

.bold {
  font-weight: 800;
  color: #F24236;
}

.light{
  font-weight: 300;
  color: #999999;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation ul {
  display: inline-block;
  margin-right: 0.5rem;
}

.navigation ul li {
  display: inline-block;
  margin-right: 0.1rem;
  font-family: arial;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: background-color 0.2s ease-in-out 0s;
}

.navigation ul li:hover {
  background-color: #EEEEEE;
}


/* ROW ONE SECTION */

.row1cont {
  display: flex;
  background-color: #e9e9e9;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 450px;
}

.row1{
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;;
}

.bannerimg {
  width: 60%;
  height: 100%;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.bannertext{
  width:40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannertext h1 {
  font-size: 2rem;
  font-family: arial;
  font-weight: 700;
  width: 100%;
  line-height: 2.3rem;
  color: #048BA8;
}

.bannertext h3 {
  font-family: arial;
  width: 75%;
  font-size: 1.2rem;
  line-height: 1.75rem;
  margin-top: 1rem;
}

.bannerbtn {
  background-color: #048BA8;
  width: 15rem;
  padding: 0.8rem 1rem;
  margin-top: 2rem;
  text-align: center;
  transition: background-color 150ms linear 0s;
}

.bannerbtn span {
  color: white;
  font-family: arial;
  font-size: 1rem;
  font-weight: 400;
}

.bannerbtn:hover {
  background-color: #F24236;
}


/* ROW 2 SECTION */


.row2cont{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row2{
  display: flex;
  flex-direction: row;
  width: 960px;
  align-items: flex-start;
  justify-content: center;
}

.row2left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  padding: 32px 24px;
}

.row2left img{
  width: 100%;
}

.row2left h2{
  font-family: arial;
  font-size: 2rem;
  color: #048BA8;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.row2leftimg{
  width: 100%;
  height: 300px;
  background-image: url("../images/information-main.jpg");
  background-size: cover;
}

.row2left p{
  font-family: arial;
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #777777;
}

.row2left span {
  font-family: arial;
  font-size: 0.75rem;
  color: #777777;
  margin-top: 2rem;
}

.row2right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  padding-top: 1rem;
}

.widethumb {
  display: flex;
  flex-direction: row;
  width: calc(100% - 3rem);
  padding: 1rem 1rem;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 200ms ease-out 0s;
}

.widethumb:hover{
  background-color: #eeeeee;
  box-shadow: 5px 10px 18px #aaaaaa;
}

.widethumbimg {
  width: 35%;
  height: auto;
}

.widethumbimg img{
  width:100%;
}

.widethumbtext {
  width: 65%;
  padding-left: 1rem;
}

.widethumbtext h3 {
  color: #444444;
  font-family: arial;
  font-size: 1.2rem;
}

.widethumbtext p {
 color: #999999;
 font-family: arial;
 font-size: 0.8rem;
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
}

.widethumbtext a {
  color: #F24236;
  text-decoration: none;
  font-family: arial;
  font-size: 0.8rem;
}

.widethumbtext a:hover {
  text-decoration: underline;
}



/*ROW 3 section */

.row3cont{
  background-color: #e9e9e9;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.row3{
  display: flex;
  flex-direction: column;
  width: 960px;
  justify-content: flex-start;
  align-items: center;
}

.r1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0rem;
    width: 100%;
}

.r1 h1{
  font-family: arial;
  font-size: 1.75rem;
  color: #F24236;
  font-weight: 700;
}

.r2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.thumb {
  width: 250px;
  background-color: white;
  box-shadow: 5px 10px 18px #aaaaaa;
}

.thumb:hover{
  background-color: #eeeeee;
}

.mid {
  margin-left: 2rem;
  margin-right: 2rem;
}

.thumb img{
  width: 100%;
  height: auto;
}

.thumb h2 {
  font-family: arial;
  font-size: 1.1rem;
  color: #048BA8;
  margin-top: 1rem;
  margin-left: 1rem;
}

.thumb h3 {
  font-family: arial;
  font-size: 0.9rem;
  color: #444444;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.thumb p {
  font-family: arial;
  font-size: 0.8rem;
  color: #444444;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  line-height: 1.2rem;
  width:90%;
}

.r3 {
  margin-top: 2rem;
}

/* ROW 4 section */

.row4cont{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row4{
  display: flex;
  flex-direction: row;
  width: 960px;
  align-items: flex-start;
  justify-content: center;
}

.row2leftimg{
  width: 100%;
  background-color: white;
}

.row4leftimg video{
  width: 100%;
}

.r24 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 960px;
}

.r14 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 0rem;
    width: 100%;
}

.r14 h1{
  font-family: arial;
  font-size: 1.75rem;
  color: #F24236;
  font-weight: 700;
}

.row2left h3{
  font-family: arial;
  font-size: 1.3rem;
  color: #048BA8;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
}


/* footer section */

.footcont {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

footer {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  padding: 2rem 0rem;
}

.copyright {
  font-family: arial;
  font-size: 0.75rem;
}

.botlinks ul li {
  font-family: arial;
  font-size: 0.75rem;
  margin: 0rem 1rem;
  display: inline-block;
}

.botlinks ul li:hover {
  color: #F24236;
  text-decoration: underline;
}
